<div class="searchfield-wrapper">
<mat-form-field class="capitalize">
  <input class="capitalize" #searchField type="text" [value]='searchItem'
    (keyup.enter)='callByNameOrId(searchField.value)' matInput [formControl]='myControl' [matAutocomplete]="auto" placeholder="Search Pokémon..."/>
  {{searchItem}}
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option class="capitalize" *ngFor='let option of (filteredPokemons | async)' [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<a class='searchbutton' value='Suchen' (click)='callByNameOrId(searchField.value)'>
  Search
</a>
</div>
<div class="pokemon-container">

  <div class="pokemon-sprite">
    <img src="/assets/svg/{{filledId}}.svg" />
  </div>
  <div class="pokemon-bezeichnung">
    <p>Pokemon: {{pokemonName}}</p>
    <div class="pokemon-type">
      <p>Type: <span [className]="'type-' + pokemonType1">{{pokemonType1}}</span></p>
      <p *ngIf="hasTwoTypes">Type: <span [className]="'type-' + pokemonType2">{{pokemonType2}}</span></p>
    </div>
    <div class="species-flavor-text">
      <p style="text-transform: none">
        Description:
        {{pokemonDescription}}
      </p>
    </div>
  </div>
</div>
