.pokemon-container {
    display: grid;
    grid-template-columns: 0px 300px auto 0px;
    grid-template-rows: 0px auto 0px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    min-height: 87%;
    border-top: dotted;
    border-width: 3px;
    /*background-image: url(src/assets/Layout/PokemonSymbol.svg);*/
    background-size: cover;
    background-position: center;
}

.searchfield-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.searchbutton {
    max-height: 30px;
    cursor: pointer;
    margin-left: 20px;
    border-style: double;
    border-color: black;
    background-color: lightgray;
    width: 120px;
    text-align: center;
}
.searchbutton:hover {
  background-color: darkgray;
  font-family: unown;
}

.pokemon-bezeichnung {
    grid-column: 3;
    grid-row: 2;
    font-size: 24px;
    text-transform: capitalize;
}

.pokemon-sprite {
    grid-column: 2;
    grid-row: 2;
    height: 300px;
    width: 300px;
}

.pokemon-type {
    font-size: 24px;
    text-transform: capitalize;
}

.species-flavor-text {
    font-size: 24px;
}

.capitalize {
    text-transform: capitalize;
}

.type-normal {
    background-color: gray;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    color: white;
}

.type-fighting {
    background-color: #c03028;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    color: white;
}

.type-flying {
    background-color: #a890f0;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    color: white;
}

.type-poison {
    background-color: #a040a0;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    color: white;
}

.type-ground {
    background-color: #e0c068;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    color: white;
}

.type-rock {
    background-color: #b8a038;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    color: white;
}

.type-bug {
    background-color: #a8b820;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    color: white;
}

.type-ghost {
    background-color: #705898;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    color: white;
}

.type-steel {
    background-color: #b8b8d0;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    color: white;
}

.type-fire {
    background-color: #f08030;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    color: white;
}

.type-water {
    background-color: #6890f0;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    color: white;
}

.type-grass {
    background-color: #78c850;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    color: white;
}

.type-electric {
    background-color: #f8d030;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    color: white;
}

.type-psychic {
    background-color: #f85888;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    color: white;
}

.type-ice {
    background-color: #98d8d8;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    color: white;
}

.type-dragon {
    background-color: #7038f8;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    color: white;
}

.type-dark {
    background-color: #705848;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    color: white;
}

.type-fairy {
    background-color: #ee99ac;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    color: white;
}

/*  small Desktop Styles */
@media only screen and (max-width: 980px) {
    .pokemon-bezeichnung {
        grid-column: span 2/3;
        grid-row: 3;
        font-size: 24px;
        text-transform: capitalize;
    }

    .pokemon-container {
      display: block;
      width: 95%;
      margin: 0 auto;
      background-image: url(src/assets/Layout/PokemonSymbol.svg);
      background-size: cover;
      background-position: center;
    }

    .pokemon-container > div {
      display: block;
      width: 90%;
      margin: 0 auto;
    }

    .pokemon-container >.pokemon-sprite{
      display: flex;
      justify-content: center;
    }
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {

  .pokemon-container > .pokemon-sprite {
    max-width: 250px;
    height: auto;
  }

  .pokemon-container {
    margin-bottom: 3px;
  }
}
