@font-face {
    font-family: 'poke_hollow';
    src: url(src/assets/Fonts/Pokemon_Hollow.ttf);
}
@font-face {
    font-family: 'poke_solid';
    src: url(src/assets/Fonts/Pokemon_Solid.ttf);
}
@font-face {
    font-family: 'unown';
    src: url(src/assets/Fonts/Unown.ttf);
}
@font-face {
    font-family: 'opensans_italic';
    src: url(src/assets/Fonts/OpenSans-Italic.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template-rows: 80px 90% 200px;
    grid-template-columns: 20% 60% 20%;
    width: 100vw;
    min-height: 100vh;
}
.header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    background-color: #bf1e2e;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
}
.title {
  display: flex;
  font-size: 300%;
  font-family: poke_solid;
  color: white;
  text-shadow: 4px 4px 8px black;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row: 1;
  justify-content: center;
  align-items: center;
}

.subtitle {
  display: flex;
  font-size: 100%;
  font-family: poke_solid;
  color: white;
  text-shadow: 4px 4px 8px black;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 1;
  justify-content: center;
  align-items: center;
}

.searchbar {
    grid-column: 2;
    grid-row: 2;
    background-image: url(src/assets/Layout/Background_Searchbar.svg);
    background-size: cover;
    background-position: center;
    border-style: double;
    border-width: 3px;
}
.sidebar_left {
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 5;
    background-image: url(src/assets/Layout/Layout_Seite.svg);
    background-size: cover;
}
.sidebar_right {
    grid-column: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    background-image: url(src/assets/Layout/Layout_Seite.svg);
    background-size: cover;
}
.footer {
    grid-column: 2;
    grid-column-end: 3;
    grid-row: span 2;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 15% 15% 70%;
    background-color: #bf1e2e;
    color: white;
}
.caption {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 6;
    font-family: 'opensans_italic';
    vertical-align: middle;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name1 {
    grid-row: 2;
    grid-column: 1;
    font-family: 'opensans_italic';
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name2 {
    grid-row: 2;
    grid-column: 2;
    font-family: 'opensans_italic';
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name3 {
    grid-row: 2;
    grid-column: 3;
    font-family: 'opensans_italic';
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name4 {
    grid-row: 2;
    grid-column: 4;
    font-family: 'opensans_italic';
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name5 {
    grid-row: 2;
    grid-column: 5;
    font-family: 'opensans_italic';
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bild1 {
    background-image: url(src/assets/svg/108.svg);
    background-size: cover;
}
.bild2 {
    background-image: url(src/assets/svg/257.svg);
    background-size: cover;
}
.bild3 {
    background-image: url(src/assets/svg/151.svg);
    background-size: cover;
}
.bild4 {
    background-image: url(src/assets/svg/058.svg);
    background-size: cover;
}
.bild5 {
    background-image: url(src/assets/svg/143.svg);
    background-size: cover;
}

/*  small Desktop Styles */
@media only screen and (max-width: 980px) {
  .wrapper {
      grid-template-columns: 10% 80% 10%;
  }

  .title {
    font-size: 280%;
    font-family: poke_solid;
    color: white;
    text-shadow: 4px 4px 8px black;
  }

  .subtitle {
    display: flex;
    font-size: 80%;
    font-family: poke_solid;
    color: white;
    text-shadow: 4px 4px 8px black;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row: 1;
    justify-content: center;
    align-items: center;
  }

  .footer {
    grid-column: 2;
    grid-column-end: 3;
    grid-row: span 2;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 15% 15% 70%;
    background-color: #bf1e2e;
    color: white;
    font-size: 100%;
  }

  .sidebar_left {
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: #bf1e2e;
  }
}

/* Tablet Styles */
@media only screen and (max-width: 780px) {
  .wrapper {
      grid-template-columns: 10% 80% 10%;
   }

  .title {
    font-size: 280%;
    font-family: poke_solid;
    color: white;
    text-shadow: 4px 4px 8px black;
  }

  .subtitle {
    display: flex;
    font-size: 80%;
    font-family: poke_solid;
    color: white;
    text-shadow: 4px 4px 8px black;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row: 1;
    justify-content: center;
    align-items: center;
  }

  .footer {
    grid-column: 2;
    grid-column-end: 3;
    grid-row: span 2;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 15% 15% 70%;
    background-color: #bf1e2e;
    color: white;
    font-size: 90%;
  }

  .sidebar_left {
    background-image: none;
    background-color: #bf1e2e;
  }

  .sidebar_right {
    background-image: none;
    background-color: #bf1e2e;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .wrapper {
    grid-template-columns: 10% 80% 10%;
  }

  .header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    background-color: #bf1e2e;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 60% 40%;
  }

  .title {
    font-size: 40px;
  }

  .subtitle {
    display: flex;
    font-size: 60%;
    font-family: poke_solid;
    color: white;
    text-shadow: 4px 4px 8px black;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 2;
    justify-content: center;
    align-items: center;
  }

  .sidebar_left {
    background-image: none;
    background-color: #bf1e2e;
  }

  .sidebar_right {
    background-image: none;
    background-color: #bf1e2e;
  }

  .footer {
    grid-column: 2;
    grid-column-end: 3;
    grid-row: span 2;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 10% 10% 35% 10% 35%;
    background-color: #bf1e2e;
    color: white;
    font-size: 60%;
  }

  .name3{
    grid-row: 4;
    grid-column: 1;
  }

  .name4{
    grid-row: 4;
    grid-column: 2
  }

  .name5{
    grid-row: 4;
    grid-column: 3
  }

  .bild1 {
    background-image: url(src/assets/svg/108.svg);
    background-size: 100%;
    grid-row: 3;

  }

  .bild2 {
    background-image: url(src/assets/svg/257.svg);
    background-size: 100%;
    grid-row: 3;
  }

  .bild3 {
    background-image: url(src/assets/svg/151.svg);
    background-size: 100%;
    grid-row: 5;
  }

  .bild4 {
    background-image: url(src/assets/svg/058.svg);
    background-size: 100%;
    grid-row: 5;
  }

  .bild5 {
    background-image: url(src/assets/svg/143.svg);
    background-size: 100%;
    grid-row: 5;
  }

}
